*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  :root{
    --header:90px;
    --azul:blue;
  }
  body{
    /* background: url(/dise-o_estilo_web/Place.png) ; */
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
  }
  .contnedor_claro{
    background-color: rgb(212, 200, 184);
    max-width: 1600px;
    margin: 0 auto;
  }
  .contenedor_azul{
    background-color: blue;
    max-width: 1600px;
    margin: 0 auto;
  }
  /* menu */
.header__nav{

  }
.nav__list{
    display: flex;  
    align-items:center;
    gap: 4rem;
    list-style: none;
  }
.nav__boton{
    background: transparent;
    color: var(--azul);
    border: none;
    font-size: 34px;
    font-weight: 700;
}
/* zammi style */
.nav__list{
    display: flex;  
    align-items:center;
    gap: 4rem;
    list-style: none;
  }
.nav__item{
    padding: 24px;
  }
.nav__link{
    color: var(--azul);
    text-decoration: none;
    border-radius: 6px;
    font-weight: 800;
    text-transform: uppercase;
  }


  /* menu */


.slider{
  height: calc(100vh - var(--header));
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.slider__contender{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.slider__iformacion{
  flex: 1;
  max-width: 620px;
  margin: 0 20px;
}

.slider__imagen{

}

.slider__img{
  max-width: 720px;
}

.slider__titulo{
  font-size: 6rem;
  padding-bottom: 30px;
}
.slider__parrafo{
    line-height: 1.8;
    color: #1c1c1c;
    padding-top: 30px;
}

.slider__botones{
  display: flex;
  gap: 1rem;
  padding-top: 30px;
}
